body{
  background-color: rgb(61, 66, 71);
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.navBar{
  height: 50px;
  background-color: rgb(41, 43, 53);
}

.container {
  display: flex;
  justify-content: center;
  width: 40%;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #f0f0f0;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}

.nav-container {
  min-height: 8vh;
  background-color: rgb(33, 37, 41);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}

.Nav-logo{
  height: 50px;
  border-radius: 50%;
}

.nav-container a {
  margin-top: 0px;
  margin-left: 20px;
  font-size: 20px;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-container a:hover {
  color: rgb(129, 129, 129);
  text-decoration: none;
}

.post-content{
  height: 25px;
  border-radius: 25px;
  border: 1px solid rgb(194, 194, 194);
  padding-left: 10px;
  width: 400px;
  margin-top: 5px;
}

.post-submit{
  border: none;
  height: 25px;
  width: 50px;
  border-radius: 25px;
  cursor: pointer;
  background-color: rgb(60, 87, 243);
  color: white;
  margin-left: 5px;
}

.upload-img-btn{
  margin-top: 5px;
  border: none;
  height: 25px;
  width: 100px;
  border-radius: 25px;
  cursor: pointer;
  background-color: rgb(60, 87, 243);
  color: white;
}

.post-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
  padding: 15px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}


.img-box{
  justify-content: left;
}
.posts{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post {
  background-color: white;
  margin-bottom: 10px;
  width: 60%;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 15px;

}
textarea{
  width: 100%;
}

.delete-button{
display: flex;
flex-direction: row-reverse;
}

.button-x {
  border: none;
  color: white;
  background-color: rgb(252, 62, 62);
  border-radius: 20px;
  cursor: pointer;
}

.post-name{
  width: 200px;
  height: 25px;
  border-radius: 25px;
  border: 1px solid rgb(194, 194, 194);
  padding-left: 10px;
}

.edit-button{
margin-right: 10px;
border: none;
color: white;
background-color: rgb(138, 184, 211);
border-radius: 20px;
cursor: pointer;
width: 50px;
}

.save-button{
margin-right: 10px;
border: none;
color: white;
background-color: rgb(132, 214, 150);
border-radius: 20px;
cursor: pointer;
width: 50px;
}